@charset "UTF-8";

body {background-color: #0B0C10; color: #E7ECEF;
}
h1 {color: #66FCF1;
}
h2 {color: #66FCF1;
}
a:link{color: #659DBD;
}
a:visited {color: #4F8775;
}
nav a:link {color:#45A29E;
}
nav a:visited {color:#4F8775;
}
.byline {color:#D1E8E2; opacity: 0.5;
}
#page-copyright {color:#66FCF1;
}

